<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="x-apple-disable-message-reformatting">
  <style type="text/css">
    body {
      background: #f5f5f5;
      margin: 0;
      min-width: 100% !important;
      padding: 0;
      padding-top: 16px;
    }

    img {
      height: auto;
    }

    table {
      margin: 0 auto;
      max-width: 600px;
      width: 100%;
    }

    h1,
    h2,
    p {
      color: #424240;
      font-family: sans-serif;
    }

    h1 {
      color: #2781b4;
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
      margin: 0;
    }

    h2 {
      font-size: 18px;
      font-weight: normal;
      line-height: 24px;
      margin: 0;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }

    *+p {
      margin-top: 16px;
    }

    .border {
      border-top: 1px solid #e0e0e0;
    }

    .padding__all {
      padding: 16px;
    }

    a {
      color: #2781b4;
    }

    .footer p,
    .footer a {
      color: white;
    }
  </style>
</head>

<body background="f5f5f5" style="background: #F5F5F5;margin: 0;padding: 0;padding-top: 16px; min-width: 100% !important;">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;max-width: 600px;width: 100%;">
    <!-- <tr bgcolor="white">
      <td align="center">
        <img src="https://blog.prosa.ai/static/images/prosa/prosa-ai-black.png" alt="Prosa Solusi Cerdas" style="height: auto;" />
      </td>
    </tr> -->
    <tr bgcolor="white">
      <td class="border padding__all" style="padding: 14px;">
        <h1 style="color: #2781b4;font-family: sans-serif;font-size: 20px;font-weight: bold;line-height: 24px;margin: 0;">
          Halo {{ email_to }},
        </h1>
      </td>
    </tr>
    <tr bgcolor="white">
      <td class="padding__all" style="padding: 16px;">
        <p style="color: #424240;font-family: sans-serif;font-size: 14px;line-height: 24px;margin: 0;">
          Produk {{ role }} kamu telah melewati nilai threshold {{ percentage }}
        </p>
      </td>
    </tr>
    <!-- <tr bgcolor="white">
      <td class="border padding__all" style="padding: 16px;">
        {% for p in parameter %}
          <p style="color: #424240;font-family: sans-serif;font-size: 16px;line-height: 24px;margin: 0;">
          (Key: {{ p.Key }}, Value: {{ p.Value }})
          </p>
        {% endfor %}
      </td>
    </tr> -->
    <tr bgcolor="white">
      <td class="padding__all" style="padding: 16px;">
        <p style="color: #424240;font-family: sans-serif;font-size: 14px;line-height: 24px;margin: 0;">
          Silahkan menuju ke {{ dashboard_url}} untuk melihat dashboard kamu
        </p>
      </td>
    </tr>
    <tr bgcolor="#898989">
      <td align="center" class="footer padding__all border" style="border-top: 1px solid #e0e0e0;padding: 16px;">
        <p style="color: white;font-family: sans-serif;font-size: 11px;line-height: 24px;margin: 0;">
          Perhatian: Email ini (termasuk lampirannya) hanya ditujukan kepada penerima email yang
          tercantum di atas dan tidak boleh disalahgunakan oleh siapa pun. Jika Anda bukan penerima
          email yang dimaksud, Anda tidak diperkenankan mem-forward, mendistribusikan,
          menyebarkan, meminjamkan, mencetak, menggandakan, atau memanfaatkan email ini.
        </p>
      </td>
    </tr>
  </table>
</body>

</html>